<div class="container">
  <mat-card class="card">
    <mat-card-title>Transaccion</mat-card-title>
    <mat-card-content>
      <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Ver">
          <ng-template matTabContent>
            <div class="card-content">
              <ag-grid-angular
              class="grid ag-grid ag-theme-alpine"
              [columnDefs]="colDef"
              [rowData]="rowData"
              [pagination]="true"
              [suppressMenuHide]="true"
              (cellValueChanged)="onCellValueChanged($event)"
              (selectionChanged)="onSelectionChanged($event)"
              [gridOptions]="gridOptions"
              [frameworkComponents]="frameworkComponents"
              >
              </ag-grid-angular>
              <div class="grid-buttons">
                <button mat-raised-button color="warn" [disabled]="!selection" (click)="onDeleteRow()">Borrar</button>
                <button mat-raised-button color="accent" (click)="onContabilizeTransactions()">Contabilizar</button>
                <button mat-raised-button color="primary" [disabled]="!gridEdited" (click)="onSaveChanges()">Guardar Cambios</button>
              </div>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Insertar">
          <ng-template matTabContent>
            <div class="card-content">
              <div class="form">
                <h2>Ingrese los datos de la Transaccion</h2>
                <form class="form" #transactionForm="ngForm">
                  <mat-form-field appearance="fill">
                    <mat-label>Empleado</mat-label>
                    <mat-select #selectEmployee required>
                      <mat-option *ngFor="let employee of employees" [value]="transaction.employeeId">
                        {{ employee.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="selectEmployee.errors?.required && selectEmployee.touched">
                      El Empleado es <strong>requerido!</strong>
                    </mat-error>
                  </mat-form-field>
                  <div class="form-field">
                    <mat-label>Tipo de Transaccion</mat-label>
                    <mat-radio-group aria-label="Select an option" [(ngModel)]="transactionType" name="transactionType" #transactionTypeT="ngModel" class="radio-group" required>
                      <mat-radio-button value="Income">Ingreso</mat-radio-button>
                      <div class="deduction-selector">
                        <mat-radio-button value="Deduction">Deduccion</mat-radio-button>
                      </div>
                    </mat-radio-group>
                  </div>
                  <mat-form-field appearance="fill" *ngIf="transactionType == 'Income'">
                    <mat-label>Tipo de Ingreso</mat-label>
                    <mat-select #selectIncome required>
                      <mat-option *ngFor="let incomeType of incomeTypes" [value]="transaction.incomeTypeId">
                        {{ incomeType.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="selectIncome.errors?.required && selectIncome.touched">
                      El Tipo de Ingreso es <strong>requerido!</strong>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="fill" *ngIf="transactionType == 'Deduction'">
                    <mat-label>Tipo de Deduccion</mat-label>
                    <mat-select #selectDeduction required>
                      <mat-option *ngFor="let deductionType of deductionTypes" [value]="transaction.deductionTypeId">
                        {{ deductionType.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="selectDeduction.errors?.required && selectDeduction.touched">
                      El Tipo de Deduccion es <strong>requerido!</strong>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Fecha</mat-label>
                    <input matInput [(ngModel)]="transaction.date"  [matDatepicker]="picker" (focus)="picker.open()" name="fecha" #transactionDate="ngModel" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="transactionDate.errors?.required && transactionDate.touched">
                      La Fecha es <strong>requerida!</strong>
                    </mat-error>
                  </mat-form-field>
                  <div class="grid-buttons">
                    <button mat-raised-button color="primary" [disabled]="transactionForm.status == 'INVALID'" (click)="onCreateTransaction()">Crear Transaccion</button>
                  </div>
                </form>
              </div>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
